html{
font-family: monospace;
background-color: rgb(27, 27, 27);
color: rgb(155, 155, 155);
text-align: center;
}
.btn {
    background-color: rgb(155, 155, 155);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }